################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CheckDotNet/v16
/Release
/Win32_Loader/Debug/Win32_Loader.tlog
